.wlgwnxkuca_item {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  background-color: #e4dcdc;
  border-radius: 20px;

  .cnnpomcvrg_title {
    color: rgb(67, 85, 186);
    font-weight: bold;
    font-size: 20px;
  }

  .idzbwkwnte_desc {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    padding: 8px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .henmcposup_btn {
    display: flex;
    justify-content: end;
    align-items: center;

    .bjvnitqkwa {
      margin: 0 2px;
    }
  }
}