.wlgwnxkuca_item {
  width: 100%;
  padding: 12px;
  margin: 16px 0;
  background-color: #e4dcdc;
  border-radius: 20px;

  .cnnpomcvrg_title {
    color: rgb(67, 85, 186);
    font-weight: bold;
    font-size: 20px;
  }

  .idzbwkwnte_desc {
    font-weight: bold;
    font-size: 14px;
    padding: 8px 0;
  }
}